.reel_div{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.reelContainer{
  background:linear-gradient(rgb(223, 223, 211),rgb(236, 236, 146));
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(54, 47, 47);
}

.reel_button{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  display: block;
  border-radius: 50%;
  border: solid 1px;
}

.reel_p{
  font-size: 1.5rem;
  text-align: center;
}

.startButton{
  width: 300px;
  display: block;
  margin: 0 auto;
}

.event{
  font-size: 2rem;
  text-align: center;
}

.noevent{
  font-size: 1rem;
}

.reach{
  color: red;
  font-size: 1.5rem;

}

.congratulation{
  color: purple;
  font-size: 2rem;
}
